* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: inline;
}

body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: white;
    color: black;
    min-height: 100vh;
    display: inline;
    flex-direction: column;
}

/* largura da página */

.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/* barra do topo */

.topo{
    background-color: grey;
    display:flex;
    justify-content: space-between;
    padding: 15px;
}

/* menu */

.topo a{
    position: top;
    text-align: left;
    margin-left: 20px;
    text-decoration: none;
    color: black;
}


/* conteúdo */

main{
    flex: 1;
    margin-top: 20px 0;
}

/* imagem ajustável */
.slide {
    width: 100%;
    max-height: 60vh; /* ocupa só parte da tela */
    object-fit: cover;
    display: block;
}

/* rodapé */

.rodape{
    background-color: grey;
    padding: 15px;
    margin-top: 0px;
    display: flex;
    justify-content: space-between;
}

.rodape a{
    margin-left: 40px;
    text-decoration: none;
    color: black;
}




